<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>

<section>
<h1>This is new about section</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium explicabo quaerat possimus blanditiis iure ab eligendi molestias veniam cupiditate ut commodi laboriosam saepe voluptates fugit libero rem rerum quos optio sint molestiae! Facere ea rem deleniti labore id explicabo animi harum quo excepturi officiis odit voluptatem quidem beatae eum reiciendis.</p>
</section>
	
</body>
</html>