<!doctype html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Footer page</title>
</head>
<body>

<footer id="fragmentTag" th:fragment="footer1">

<div class="container">

<h1>About Footer</h1>
<h1>Spring boot thymleaf ...</h1>
<h1>good luck!!!</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum recusandae tenetur architecto laudantium eos quam voluptatum temporibus ducimus eligendi maxime perferendis dolorem iusto laboriosam. Quibusdam minus cumque nesciunt vel vitae esse architecto blanditiis unde libero nobis. Voluptate voluptatibus eveniet id animi dignissimos mollitia itaque dicta veniam at repellendus aliquid iure.</p>
</div>
</footer>
	
</body>
</html>